@import url('https://fonts.googleapis.com/css?family=Patua+One|Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');


html, body {
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Patua One', cursive;
}

.App {
  text-align: center;
}
/* meal list styles */
.mealList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* meal card styles */
.mealCard {
  width: 375px;
}

.cardBtn {
  width: 75px;
  margin: 2% 5%;
}
/* nav styles */
nav, .dashNav {
  background-color: #6C46A2;
  font-family: 'Patua One', cursive;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.links {
  display: flex;
  margin-right: 5%;
}

nav a, .dashNav a {
  color: white;
}

nav a:hover, .dashNav a:hover {
  color: plum;
}

nav img, .dashNav img, .customSelect img {
  width: 175px;
  margin-left: 30%;
}
/* custom select styles */
.custom-select {
  position: relative;
}

.customSelect {
  display: none;
}

select {
  background-color: #6C46A2;
  border: none;
  color: white;
  font-size: 24px;
  width: 150px;
}

.select-items div,.select-selected {
  color: white;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(108, 70, 162, .1);
}

.mr-2 {
  color: white;
}

.toggleNav {
  text-align: right;
}

/* dashboard styles */
.dashboard h2, .mealList h2 {
  margin-top: 3%;
}

.dashboard {
  background-color: #E9ECEF;
  height: 100vh;
}

.dashboard .addPetBtn {
  position: absolute;
  right: 75px;
  margin-top: 20px;
}
/* gigapet card styles */
.jumbotron {
  margin-bottom: 0;
}

.gigapetCard {
  line-height: 3;
}

.display-3 {
  margin-top: 2%;
  font-size: 60px;
}

.my-2 {
  width: 400px;
}

/* Media queries */
@media (max-width: 500px) {
  .navContainer {
    background-color: #6C46A2;
    font-family: 'Patua One', cursive;
    width: 100%;
    height: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dashNav {
    display: none;
  }

  .customSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .customSelect img {
    margin-left: 0;
    margin-top: 10%;
  }

  select {
    margin-top: 4%;
  }

  span.navbar-toggler-icon {
    color: white;
  }

  .show.navbar-collapse .dashnav {
    height: 100%;
  }
}
/* end media queries */
.input-wrap{
  width: 20%;
  position: relative;
  background-color: #e6e6e6;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0;
  box-sizing: border-box;
  margin-bottom:1%;
}

.form-input{

  color:#403866;
  line-height: 1.2;
  font-size: 20px;
  display: block;
  width: 65%;
  background:transparent;
  height: 62px;
  padding: 0 20px 0 38px;
  border:none;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meal-img-container{
  padding-bottom: 3%;
}

.add-h1{

  font-family: 'Fredoka One';
  color: #6C46A2;
}


.carousel-control-prev-icon, .carousel-control-next-icon{
  color: red;
  background-color: red;
  width: 25%;
  height: 100px;
}

.header-container a img{
  width: 175px;
}
