html, body {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.mealList {
  display: flex;
  justify-content: center;
}

.mealCard {
  width: 350px;
}

.cardBtn {
  width: 72px;
  margin: 2% 4%;
}
