@import url('https://fonts.googleapis.com/css?family=Patua+One|Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');


html, body {
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Patua One', cursive;
}

.App {
  text-align: center;
}
/* meal list styles */
.mealList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mealsContainer {
  width: 100%;
  display: flex;
  margin-top: 3%;
}

.sortColumn {
  width: 20%;
  margin-left: 5%;
}

.sortColumn select {
  width: 150px;
  height: 25px;
}

.resetBtn {
  margin-left: 6%;
}

.mealsColumn {
  width: 65%;
}

.myMeals {
  margin-top: 5%;
}

.mealCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1% 4%;
}

.mealFilter {
  text-align: left;
}

.mealFilter legend {
  font-family: 'Patua One', cursive;
}

/* meal card styles */
.mealCard {
  width: 375px;
  margin: 3%;
}

.cardBtn {
  width: 75px;
  margin: 2% 5%;
}

/* nav styles */
.navContainer {
  width: 100%;
}

nav, .dashNav {
  background-color: #6C46A2;
  font-family: 'Patua One', cursive;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.links {
  display: flex;
  margin-right: 5%;
}

nav a, .dashNav a {
  color: white;
}

nav a:hover, .dashNav a:hover {
  color: plum;
}

nav img, .dashNav img, .customSelect img {
  width: 175px;
  margin-left: 30%;
}
/* custom select styles */

.customSelect {
  display: none;
}

.mr-2 {
  color: white;
}

.toggleNav {
  background-color: #6C46A2;
  text-align: right;
}

div.collapse.show.navbar-collapse {
  z-index: 1;
  width: 500px;
  background-color: #6C46A2;
}

.mobileNav a.nav-link {
  margin-right: 8%;
}

/* dashboard styles */
.dashboard h2 {
  margin-top: 3%;
}

.dashboard .addPetBtn {
  position: absolute;
  right: 250px;
  margin-top: 20px;
}

.dashboard .addMealBtn {
  position: absolute;
  right: 75px;
  margin-top: 20px;
}

.gigapets {
  display: flex;
  justify-content: space-evenly;
  margin: 6% 3% 0;
}
/* gigapet card styles */
.jumbotron {
  margin: 4% 2% 0;
  width: 460px;
  height: 800px;
  border: 1px solid darkgray;
}

.jumbotron img {
  width: 60%;
}

.gigapetCard {
  line-height: 3;
  
}

.display-3 {
  margin-top: 2%;
  font-size: 50px;
}

.my-2 {
  width: 400px;
}

/* Media queries */
@media (max-width: 500px) {
  .navContainer {
    background-color: #6C46A2;
    font-family: 'Patua One', cursive;
    width: 100%;
    height: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dashNav {
    display: none;
  }

  .customSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .customSelect img {
    margin-left: 0;
    margin-top: 10%;
  }

  .jumbotron {
    margin-top: 10%;
  }

}

/* end media queries */

/* fq media query */
@media (max-width: 1024px) {
  .h2title{
    font-size: 1rem;
  }
  .h3subtitle{
    font-size: .7rem;
  }
}

.input-wrap{
  width: 70%;
  position: relative;
  background-color: #e6e6e6;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0;
  box-sizing: border-box;
}

.form-input{
  color:#403866;
  line-height: 1.2;
  font-size: 20px;
  display: block;
  width: 100%;
  background:transparent;
  height: 35px;
  /* padding: 0 20px 0 38px; */
  border:none;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labels{
  margin: 2%;
}

.meal-img-container{
  padding-bottom: 3%;
}

.add-h1{

  font-family: 'Fredoka One';
  color: #6C46A2;
}


.carousel-control-prev-icon, .carousel-control-next-icon{
  color: red;
  background-color: red;
  width: 25%;
  height: 100px;
}

.header-container a img{
  width: 175px;
}

.h2title{
  font-size: 1.5rem;
}

.h3subtitle{
  font-size: 1rem;
}

.overlay-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 50%;
  max-width: 300px;
}

.overlay1 {
  position: absolute; 
  bottom: 0; 
  /* background: rgb(0, 0, 0); */
  /* background: rgba(0, 0, 0, 0.5); Black see-through */
  color: #f1f1f1; 
  width: 50%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  text-shadow: 2px 2px 5px #CE5937;
}

.overlay-cont:hover .overlay1{
  opacity: 1;
}

@media (max-width: 500px) {
  .overlay1 {
    width: 40%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.244);
    border-radius: 25px;
  }
  
  .h2title{
    font-size: 1.4rem;
  }

  .h3subtitle{
    font-size: 1.1rem;
  }

}

@media ( max-width: 1420px ){
  .addMealImage{
    width: 40%;
    margin: 0;
    padding: 0;

  }
}
@media ( max-width: 760px ){
  
}